{% extends 'base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/Details Page Style.css' %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/Details Page.js' %}"></script>
{% endblock %}

{% block content %}
<div class="book-details-center" style="padding-left: 20px; gap: 30px; margin-top: 40px;">
    <img class="book-cover" src="{{ book.display_image }}" alt="{{ book.title }}" />
    <div class="book-info">
        <div class="book-title-row">
            <h2 class="book-title">{{ book.title }}</h2>
            <span class="book-price">{{ book.price }}$</span>
        </div>
        <div class="book-author">{{ book.author }}</div>
        <div class="book-description">{{ book.description }}</div>

        <div class="book-genres">
            <span class="genres-label">Genres</span>
            {% if book.category.all %}
                {% for genre in book.category.all %}
                    <a href="#" class="genre-link">{{ genre.name }}</a>
                {% endfor %}
            {% else %}
                <span>No genres listed.</span>
            {% endif %}
        </div>

        <div class="book-actions">
            <button class="buy-now-btn">Buy now</button>
            <button class="add-to-cart-btn">Add to cart</button>
        </div>
    </div>
</div>

<h1 class="similar-books">Similar Books:</h1>
<div class="carousel-container">
    <button class="arrow" onclick="scrollCarousel(this, -1)">
        <img src="{% static 'icons/icons8-left-arrow-100.png' %}" alt="" width="50px" />
    </button>
    <div class="book-carousel" id="bookCarousel">
        {% for similar_book in similar_books %}
        <div class="book">
            <img src="{{ similar_book.display_image }}" alt="{{ similar_book.title }}" />
            <div class="overlay">
                <button>Buy Now</button>
                <button>Add To Cart</button>
                <a href="{% url 'book_details' similar_book.slug %}">
                    <button>Details</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="arrow" onclick="scrollCarousel(this, 1)">
        <img src="{% static 'icons/icons8-right-arrow-100.png' %}" alt="" width="50px" />
    </button>
</div>
{% endblock %}
