{% extends "base.html" %}
{% load static %}

{% block title %}Welcome to Paper & Ink{% endblock %}

{% block content %}
  <div class="welcome-message">
    <center>Welcome to Paper &Ink</center>
    <br />Step into a world where every page holds a new adventure. Whether
    you're looking for timeless classics, the latest bestsellers, or hidden
    literary gems, you've come to the right place. Our cozy shelves are
    filled with stories waiting to be discovered, and our friendly staff are
    here to help you find the perfect read. So take your time, explore, and
    let your next great journey begin here. <br />
    <br />
    <center>Happy reading!</center>
  </div>

  <br /><br />
  <h1 class="new-books-arrived">New Books Arrived!</h1>
  <div class="carousel-container">
    <button class="arrow" onclick="scrollCarousel(this, -1)">
      <img src="{% static 'icons/icons8-left-arrow-100.png' %}" alt="" width="50px" />
    </button>
    <div class="book-carousel" id="bookCarousel">
      {% for book in new_books %}
      <div class="book">
        <img src="{{ book.display_image }}" alt="{{ book.title }}" />
        <div class="overlay">
          <button>Buy Now</button>
          <button>Add To Cart</button>
          <a href="{% url 'book_details' book.slug %}">
            <button>Details</button>
          </a>
        </div>
      </div>
      {% empty %}
      <p style="color: white;">No new books available yet.</p>
      {% endfor %}
    </div>
    <button class="arrow" onclick="scrollCarousel(this, 1)">
      <img src="{% static 'icons/icons8-right-arrow-100.png' %}" alt="" width="50px" />
    </button>
  </div>
  <h1 class="new-books-arrived">Popular Books!</h1>
  <div class="carousel-container">
    <button class="arrow" onclick="scrollCarousel(this, -1)">
      <img src="{% static 'icons/icons8-left-arrow-100.png' %}" alt="" width="50px" />
    </button>
    <div class="book-carousel" id="popularBookCarousel">
      {% for book in popular_books %}
      <div class="book">
        <img src="{{ book.display_image }}" alt="{{ book.title }}" />
        <div class="overlay">
          <button>Buy Now</button>
          <button>Add To Cart</button>
          <a href="{% url 'book_details' book.slug %}">
            <button>Details</button>
          </a>
        </div>
      </div>
      {% empty %}
      <p style="color: white;">No popular books available yet.</p>
      {% endfor %}
    </div>
    <button class="arrow" onclick="scrollCarousel(this, 1)">
      <img src="{% static 'icons/icons8-right-arrow-100.png' %}" alt="" width="50px" />
    </button>
  </div>
{% endblock %}