{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay Now!</title>
    <link rel="stylesheet" href="{% static 'css/Payment Page Style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <div class="payment-container">
        <form>
            <div class="input-group">
                <input type="text" class="input-name" placeholder="Name on card" />
            </div>
            <div class="input-group">
                <input type="text" class="input-card-number" placeholder="Card number" />
                <img src="{% static 'icons/icons8-visa-48.png' %}" alt="Visa" class="card-icon" />
                <img src="{% static 'icons/70593_mastercard_curved_icon.png' %}" alt="Mastercard" class="card-icon" />
            </div>
            <div class="input-row">
                <div class="input-group">
                    <input type="text" class="input-expiry" placeholder="MM / YY" />
                </div>
                <div class="input-group">
                    <input type="text" class="input-cvv" placeholder="CVV" />
                    <img src="{% static 'icons/card-cvv-icon.png' %}" alt="CVV" class="card-icon" />
                </div>
            </div>
            <div class="divider-with-text">
                <hr>
                <span class="total-text">Total: <span class="total-amount">25.0$</span></span>
                <hr>
            </div>
            <button type="submit" class="payment-btn">Submit payment</button>
            <button type="button" class="payment-btn cancel-btn">Cancel</button>
        </form>
    </div>
</body>

</html>
